.row {

    width: 100%;
    margin: 0 auto;
    height: 200px;
    background: #6a5acd;
    margin: 10px;

}

div.vaime {
    float: left;
    width: 300px;
    background: #dc143c;
    margin: 5px;

    height: 700px;
}
